<input type="hidden" id="email" name="email" value="{{this.email}}">
<input type="hidden" id="role" name="role" value="{{role}}">
{{!-- {{log this}} --}}
<div class="row justify-content-center">
    <div class="col-lg-3 order-md-1">
        <h4>{{#if is_admin }}Responder{{else}}Preguntar{{/if}}:</h4>
        <div class="card mb-3">
            <div class="card-body">
                {{#if is_admin}}
                <form class="" id="send-message-form" action="/chat" method="post">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="forEmail" class="form-label">Para</label>
                            <input type="text" placeholder="No se ha seleccionado un usuario" readonly
                                class="form-control-plaintext" id="forEmail" name="forEmail" value="">
                        </div>
                        <div class="col-12">
                            <label for="body" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="body" name="body" rows="10"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="w-100 btn btn-dark" type="submit">Mandar</button>
                        </div>
                    </div>
                </form>
                {{else}}
                <form class="" id="send-message-form" action="/chat" method="post">
                    <div class="row g-3">
                        <div class="col-12">
                            <label for="body" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="body" name="body" rows="10"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="w-100 btn btn-dark" type="submit">Mandar</button>
                        </div>
                    </div>
                </form>
                {{/if}}
            </div>
        </div>
        {{#if (not is_admin)}}
        <button id="mismensajes" class="w-100 btn btn-primary btn-lg shadow" type="submit">Mis mensajes</button>
        {{/if}}
    </div>
    <div class="col-12 col-lg-9">
        <h4>Chat:</h4>
        <div class="message-wrapper card {{#if is_admin}}message-admin{{/if}}">
            <div class="card-body" id="chat">
                <div class="alert alert-info" role="alert">
                    No hay mensajes para mostrar
                </div>
            </div>
        </div>
    </div>
</div>